<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Лаборатория OAuth2.0</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h3>OIDC и OAuth2.0</h3>
        <a href="/clear_session" class="btn btn-secondary">Clear session</a></p>
        <a href="/login_auth_code" class="btn btn-primary">Authorization Code Flow</a></p>
        <a href="/auth_code_PKCE" class="btn btn-primary">Authorization Code Flow with PKCE</a></p>
        <a href="/login_implicit_page" class="btn btn-primary">Implicit Flow</a></p>
        <a href="/login_client_credentials" class="btn btn-primary">Client credentials Flow</a></p>
        <a href="/login_ropc" class="btn btn-primary">Resource Owner Password Credentials (ROPC)</a></p>
        <a href="/login_device_code" class="btn btn-primary">Device code</a></p>
    </div>
    <div class="container mt-5">
        <h3>HTTP аутентификация</h3>
        <a href="/basic_auth" class="btn btn-primary">Basic Authentication</a>
        <a href="/digest_auth" class="btn btn-primary">Digest Authentication</a>
        <a href="/token_auth" class="btn btn-primary">Token (Bearer) Authentication</a>
    </div>
</body>
</html>