<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <title>Защищенная страница</title>
</head>
<body>
    <div class="container mt-5">
        <h3>Защищенная страница</h3>
        <p>Доступ возможен только с действительным токеном: access token</p>
        <p>Предоставленный access token: {{ decoded_token }}</p>
        <p><a href="/" class="btn btn-secondary">Домашняя страница</a></p>
    </div>
    
</body>
</html>