<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <title>ERROR</title>
    <style>
        h3 {
            color: red;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h3>Ошибка - отсутствует токен авторизации</h3>
        <p>Доступ возможен только с действительным токеном: access token</p>
        <p>Пройдите аутентификацию и авторизацию через основное меню на домашней странице.</p>
        <p><a href="/" class="btn btn-secondary">Домашняя страница</a></p>
    </div> 
</body>
</html>