<!DOCTYPE html>
<html>
<head>
    <title>Client Credentials Grant</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
    <h3>Client Credentials</h3>
    <p><a href="/" class="btn btn-secondary">Назад</a></p>
    <div class="alert alert-info" role="alert">
        <p><b>Запрос который будет отправлен: </b>{{ data }}</p>
    </div>
       
    <a href="/get_token" class="btn btn-primary">Войти в сессию</a>
    <p></p>
        <div class="alert alert-info" role="alert">
            <p><b>ACCESS TOKEN: </b> {{ decoded_access_token }}</p>
        </div>
        <div class="alert alert-info" role="alert">
            <p><b>ID TOKEN: </b> {{ decoded_id_token }}</p>
        </div>
        <p><a href="/protected_page" class="btn btn-primary">Перейти на защищенную страницу</a></p>
    </div>

    <div class="container mt-5">
        <h3>Справочная информация по client credentials</h3>
        m2m - не создает сессию пользователя. Ограничение по сроку жизни токена. Create a client with client_id “test_api_client”. Keep Client authentication as “ON” and Authentication flow as only “Service accounts roles”. This will set the client application authorization flow as client credentials flow.    
    </div class="container mt-5">
</body>
</html>